<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Користувачі</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="jumbotron">
        <form class="form-horizontal" th:action="@{/admin/usersEditData}" method="post">
        <div th:if="${not #lists.isEmpty(listAllUsers)}">
            <h2>Користувачі</h2>
            <table class="table table-striped">
                <tr>
                    <th>№ П/П</th>
                    <th>Логін</th>
                    <th>Ім"я</th>
                    <th>Спеціальність</th>
                    <th>Кабінет</th>
                    <th>Статус</th>
                    <th>Редагувати</th>
                    <th>Змінити статус</th>
                </tr>
                <tr th:each="user : ${listAllUsers}">
                    <td th:text="${user.id}">User id</td>
                    <td th:text="${user.login}">User login</td>
                    <td th:text="${user.userName}">User name</td>
                    <td th:text="${user.informationDoctor.specialtyOfDoctor}">specialty Of Doctor</td>
                    <td th:text="${user.informationDoctor.room}">room</td>
                    <td th:text="${user.enabled}">User enabled</td>
                    <td><a th:href="${ '/admin/user/edit/' + user.id}">Edit</a></td>
                    <td><a th:href="${'/admin/user/onOff/' + user.id}">Активувати(Деактивувати)</a></td>
                </tr>
            </table>
        </div>
        </form>
    </div>
</div>

</body>
</html>