<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>ФОРМА №39</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <div class="jumbotron">
        <div >
            <form  th:object="${form39}" th:action="@{'/user/form39/'+${UserId}}">
                <h2>ФОРМА №39</h2>
                <div class="table-responsive">
                <table class="table table-border">
                    <tr bgcolor="#A9A9A9">
                        <th class="eventh" > </th>
                        <th class="eventh" > </th>
                        <th class="eventh" > </th>
                        <th class="eventh" colspan="2">Кількість відвіду-<br/>вань дітей віком<br/>0–17років включ-<br/>но (із графи 1)</th>
                        <th class="eventh" colspan="2">Кількість відвідувань з<br/>приводу захворювань (із графи 1)</th>
                        <th class="eventh" ></th>
                        <th class="eventh" ></th>
                        <th class="eventh" colspan="4">Кількість відвідувань<br/>дітей віком 0–17 років<br/>включно з приводу за-<br/>
                            хворювань (із графи 9)</th>
                        <th class="eventh" > </th>
                        <th class="eventh" > </th>
                    </tr>
                    <tr bgcolor="#A9A9A9">
                        <th class="eventh"><div class="vert-text">Числа місяця</div></th>
                        <th class="eventh"><div class="vert-text">Кількість відвідувань, усього</div></th>
                        <th class="eventh"><div class="vert-text">З них сільських жителів</div></th>
                        <th class="eventh"><div class="vert-text">усього</div></th>
                        <th class="eventh"><div class="vert-text">з них сільських жителів</div></th>
                        <th class="eventh"><div class="vert-text">дорослих (18 років і старше)</div></th>
                        <th class="eventh"><div class="vert-text">з них сільських жителів</div></th>
                        <th class="eventh"><div class="vert-text">дітей віком  0–17 років включно</div></th>
                        <th class="eventh"><div class="vert-text">з них сільських жителів</div></th>
                        <th class="eventh"><div class="vert-text">Кількість відвідувань вдома, усього</div></th>
                        <th class="eventh"><div class="vert-text">З них сільських жителів</div></th>
                        <th class="eventh"><div class="vert-text">усього</div></th>
                        <th class="eventh"><div class="vert-text">з них сільських жителів</div></th>
                        <th class="eventh"><div class="vert-text">Кількість профілактичних і патронажних<br/>відвідувань
                            дітей віком 0–17 років<br/>включно (із графи 9)</div></th>
                        <th class="eventh"><div class="vert-text">З них сільських жителів</div></th>
                    </tr>
                    <tr bgcolor="#A9A9A9">
                        <th class="eventh">A</th>
                        <th class="eventh">1</th>
                        <th class="eventh">2</th>
                        <th class="eventh">3</th>
                        <th class="eventh">4</th>
                        <th class="eventh">5</th>
                        <th class="eventh">6</th>
                        <th class="eventh">7</th>
                        <th class="eventh">8</th>
                        <th class="eventh">9</th>
                        <th class="eventh">10</th>
                        <th class="eventh">11</th>
                        <th class="eventh">12</th>
                        <th class="eventh">13</th>
                        <th class="eventh">14</th>
                    </tr>
                    <tr>
                        <td><input size="3" type="text" th:name="numDay" th:readonly="numDay" th:field="*{numDay}"
                                   placeholder="num" required="true" /></td>
                        <td><input size="3" type="text"  th:name="numberVisitsAll" th:field="*{numberVisitsAll}"
                                   placeholder="num" required="true" autofocus="true"/></td>
                        <td><input size="3" type="text"  th:name="ofVillagers" th:field="*{ofVillagers}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text" th:name="childrenVisitsAll" th:field="*{childrenVisitsAll}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenVisitsVillagers" th:field="*{childrenVisitsVillagers}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="adultsVisitsDisease" th:field="*{adultsVisitsDisease}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="adultsVisitsDiseaseVillagers" th:field="*{adultsVisitsDiseaseVillagers}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenVisitsDisease" th:field="*{childrenVisitsDisease}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenVisitsDiseaseVillagers"  th:field="*{childrenVisitsDiseaseVillagers}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="visitsHomeAll" th:field="*{visitsHomeAll}"
                                   placeholder="visitsHomeAll" required="true"/></td>
                        <td><input size="3" type="text"  th:name="visitsHomeVillagers" th:field="*{visitsHomeVillagers}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenVisitsHomeAll" th:field="*{childrenVisitsHomeAll}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenVisitsHomeVillagers" th:field="*{childrenVisitsHomeVillagers}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenPatronage" th:field="*{childrenPatronage}"
                                   placeholder="num" required="true"/></td>
                        <td><input size="3" type="text"  th:name="childrenPatronageVillagers" th:field="*{childrenPatronageVillagers}"
                                   placeholder="num" required="true"/></td>
                    </tr>
                </table>
                    <label>Дата заповнення форми:</label>
                    <input size="10" type="date" th:name="dateNow" th:field="*{dateNow}"/>
                    <br/>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>